

<h3 style="text-align:center;padding-top:100px;padding-bottom:50px;"> <%= @Player1 %> hit <%= @Player2 %> and it was super effective </h3>

<form action='/play' style="text-align:center">
  <input type="submit" value="Continue">
</form>
