<h1> WELCOME TO THE GAMES </h1>

<h2> To start enter your names below </h2>



<form action='/names' method="post">
  <label for="Player1">
  Player 1 name: <input type="text" name="Player1">
  </label>
  <label for="Player1">
  Player 2 name: <input type="text" name="Player2">
  </label>
  <input type="submit" value="Submit">
</form>

<% if false %>
this will render
<% else %>
this won't render
<% end %>
